<div
  class="w-full rounded-md text-center cursor-pointer"
  (click)="fileInput.click()"
>
  <div class="flex flex-col items-start justify-center space-y-2">
    <button type="button" matButton="tonal">
      <mat-icon>add_photo_alternate</mat-icon>
      Anexar arquivos
    </button>
  </div>

  <input
    #fileInput
    type="file"
    multiple
    accept="image/*"
    class="hidden"
    (change)="onFileSelected($event)"
  />
</div>

<div class="flex flex-wrap gap-2 mt-4">
  @for (url of previewUrls; track $index) {
    <div class="relative group">
      <img
        [src]="url"
        alt="Preview"
        class="w-24 h-24 object-cover rounded border cursor-pointer"
        (click)="showFullPreview(url)"
      />
      <button
        type="button"
        class="absolute top-0 right-0 bg-red-600 text-white text-xs rounded-bl px-1 py-0.5 opacity-0 group-hover:opacity-100 transition"
        (click)="removeImage($index)"
      >
        ✕
      </button>
    </div>
  }
</div>

@if (fullPreviewUrl) {
  <div
    class="fixed inset-0 bg-[rgb(0_0_0_/_60%)] flex items-center justify-center z-500"
    (click)="closePreview()"
  >
    <img  
      [src]="fullPreviewUrl"
      class="max-w-[90vw] max-h-[90vh] object-contain rounded shadow-lg"
      alt="Preview grande"
    />
  </div>
}
