.form-category {
  max-width: 600px;
  margin: 0 auto;
}

.mat-mdc-form-field {
  width: 100%;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}
