@use '@angular/material' as mat;
@import "tailwindcss";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  @include mat.card-overrides((
    elevated-container-color: #f9fafb,
  ));
  @include mat.sidenav-overrides((
    container-background-color: #fff,
    content-background-color: #f9fafb
  ));
  @include mat.toolbar-overrides((
    container-background-color: #f9fafb,
  ));
}

// permite o funcionamento do
// `mat-form-field appearance="outline"`
*,
::after,
::before,
::backdrop,
::file-selector-button {
  border: 0;
}

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

